/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";
h1,h2,h3,h4,h5,p,a{
	font-family: 'Tinos', serif;
}
[class*="span"] {
	margin-left:0;
}

[class*="hide"] {
	display:none;
}

html, body {
	min-width:980px;
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	height:auto;
	width:100%;
	min-width:960px;
}
.wrapper-full {
	height:auto;
	width:100%;
	min-width:960px;
	min-height:100%;
	margin: 0 auto -150px;
	position:relative;
}
.wrapper-footer {
	width:100%;
	min-width:960px;
	position:relative;
	bottom:0;
	left:0;
	overflow:hidden;
}

.wrapper-content {
	width:960px;
	margin:auto;
	overflow:auto;
}

header {
	
	padding-top:18px;
	padding-bottom:18px;

	background-color:#333;
	border-bottom:1px solid #222;

	background: #3a3a3a; /* Old browsers */
	background: -moz-linear-gradient(top,  #3a3a3a 90%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(90%,#3a3a3a), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3a3a3a 90%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3a3a3a 90%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3a3a3a 90%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3a3a3a 90%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

	h1 {
		font-size:64px;
		line-height:80px;
		color:white;
		text-shadow:0px 1px 0 black;
		-webkit-user-select:none;
		-moz-user-select:none;
		-o-user-select:none;
		user-select:none;
		cursor:default;
	}
}

#body {
	min-height:500px;
	padding:18px;

	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(247,247,247,1) 9%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(9%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 9%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 9%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 9%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 9%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */


}

footer {

}